@import 'normalize.scss';
@import 'variables.scss';
@import 'starter.scss';
@import 'grid-debug.scss';
@import 'icomoon.scss';
@import 'main.scss';
@import 'burger.scss';
@import 'slider.scss';
@import 'lightbox.scss';
@import 'accordeon.scss';
@import 'form.scss';